<body style="background-color:rgb(152, 154, 154);">
    <h1><strong>Small Data Models</strong></h1>
    
    <div class="footer">
    <h2><strong>Navigation</strong></h2>
    <button><a href="/home/" class="btn btn-light">Home</a></button>
    <button><a href="/records/" class="btn btn-light">Records</a></button>
    <button><a href="/map/" class="btn btn-light">Map</a></button>
    <button><a href="/upload/" class="btn btn-light">Form</a></button>
    <button><a href="/uploadmap/" class="btn btn-light">Map Form</a></button>
    <button><a href="/analysis/" class="btn btn-light">Analysis</a></button>
    <button><a href="/admin/" class="btn btn-light">Admin</a></button>
    </div>
    
    </body>
    
    <style>  
    h1 {font-family: "Georgia", Times, serif;}
    a {font-family: "Georgia", Times, serif;}
    p {font-family: "Georgia", Times, serif;}
    .footer {
          position: fixed;
          left: 0;
          bottom: 0;
          width: 100%;
          text-align: center;
        }
    </style>
    
<h2>This is a demonstration of the geospatial full-stack development work of Zach Dorminey. This web app is a Django app that 
    utilizes a custom PostGIS backend.</h2>

<h3>This is intended to be used for demonstration purposes only, and therefore the code is not shared on my GitHub repo. It is still 
    in development phase. My beta python package <i>basal and bark</i> is implemented in this app as well. The goal is to implement 
    a custom python package with other well known packages for full-stack geospatial development skills to be on full display.

</h3>

    <p>A few important notes of design ideas implemented in this work sample:
        <ul>
            <p>
            <li>This specific app utilizes the Django web development framework with a custom PostGIS database backend that 
                replaces the default PostgreSQL backend.</li></p>

            <p>
            <li>This app handles spatial and non-spatial data. Users can upload data, as well as data that has been uploaded by the developer.</li></p>

            <p>
            <li>This app is containerized using Docker, where a conda environment has been curated for this app to specifically build
                the environment with the proper requirements for this geospatial app. 
                The Windows Subsystem for Linux (WSL) was utilized for development of this app.</li>

          </ul>
        
        
        
    </p>