<form action="/upload/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>

    <div class="footer">
    <h2><strong>Navigation</strong></h2>
    <button><a href="/home/" class="btn btn-light">Home</a></button>
    <button><a href="/records/" class="btn btn-light">Records</a></button>
    <button><a href="/map/" class="btn btn-light">Map</a></button>
    <button><a href="/upload/" class="btn btn-light">Form</a></button>
    <button><a href="/uploadmap/" class="btn btn-light">Map Form</a></button>
    <button><a href="/analysis/" class="btn btn-light">Analysis</a></button>
    <button><a href="/admin/" class="btn btn-light">Admin</a></button>
    </div>
    
    </body>
    
    <style>  
    h1 {font-family: "Georgia", Times, serif;}
    a {font-family: "Georgia", Times, serif;}
    p {font-family: "Georgia", Times, serif;}
    .footer {
          position: fixed;
          left: 0;
          bottom: 0;
          width: 100%;
          text-align: center;
        }
    </style>
    